<div class="row">
    <h2>Animais para adoção</h2>
    <div class="row row-cols-1 row-cols-md-4 g-3">
      <% if(animais.length==0){ %>
        <ul class="list-group">
          <li class="list-group-item">Você não possui animais cadastrados.</li>
        </ul>
        <% } else { %>
          <% animais.forEach(animal=> { %>
            <div class="col rounded">
              <div class="card h-100">
                <img src="<%- animal.url %>" class="card-img-top img-fluid img-cards" style="" alt="<%- animal.legenda %>">
                <div
                  class="card-body rounded-bottom <% if(animal.sexo=='F'){ %> fundoroxo <% }else{ %> fundolaranja <% } %>">
                  <h5 class="card-title fofo"><%- animal.nome %></h5>
                  <p class="card-text fofo mb-1"><%- animal.idade %>
                      <% if(animal.idade==1){ %> ano <% }else{ %> anos <% } %> | <% if(animal.sexo=='F' ){ %> Fêmea <%
                                }else{ %> Macho <% } %>
                  </p>
                  <p class="card-text fofo mb-1"><%- animal.detalhes %></p>
                  <a href="/animais/<%- animal.id %>"
                    class="btn btn-light <% if(animal.sexo=='F'){ %> roxo <% }else{ %> laranja <% } %>">Ver mais</a>
                </div>
              </div>
            </div>
            <% }); %>
                <% } %>
    </div>

</div>