<div class="row">
    <div class="col">
        <div class="card h-100">
            <img src="<%- animal.foto %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%- animal.nome %></h5>
                <p class="card-text"><%- animal.idade %> anos | <%- animal.detalhes %></p>
                <a href="/animais/<%- animal.id %>" class="btn btn-primary lara">Adotar</a>
            </div>
        </div>
    </div>
</div>